<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head(title='Admin - Subscriptions')}"></div>
<body>

<!-- header -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- content -->
<div class="content" th:switch="${formData}">

    <!-- table -->
    <div class="table-wrapper" th:case="null">
        <h4 class="sub-header">Subscription Management</h4>
        <table class="admin-table">
            <tr>
                <th>Customer</th>
                <th>Book</th>
                <th class="desktop-table">Date Opened</th>
                <th class="desktop-table">Date Closed</th>
                <th>Edit</th>
                <th></th>
            </tr>
            <tr th:each="item : ${results}">
                <td th:unless="${item.customer} == null" th:text="${item.customer.username}"></td>
                <td th:if="${item.customer} == null">Null</td>
                <td th:unless="${item.book} == null" th:text="${item.book.title}"></td>
                <td th:if="${item.book} == null">Null</td>
                <td class="desktop-table" th:text="${item.dateOpened}"></td>
                <td class="desktop-table" th:text="${item.dateClosed}"></td>
                <td><a class="edit-button" th:href="@{/admin/subscriptions/{id}/edit(id=${item.id})}">></a></td>
                <td>
                    <form th:action="@{/admin/subscriptions/{id}/delete(id=${item.id})}" method="post">
                        <input class="delete-button" type="submit" value="X">
                    </form>
                </td>
            </tr>
        </table>

        <a class="submit-button" href="/admin">Back</a>
    </div>

    <!-- form -->
    <div class="section-wrapper" th:case="*">
        <h4 class="section-head">Edit Subscription</h4>
        <form class="entity-form" th:action="@{edit}" th:object="${formData}" method="post">
            <label>Customer</label>
            <select th:field="*{customer.id}">
                <option th:each="customer : ${customers}" th:text="${customer.username}" th:value="${customer.id}"></option>
            </select><br>
            <label>Book</label>
            <select th:field="*{book.id}">
                <option th:each="book : ${books}" th:text="${book.title}" th:value="${book.id}"></option>
            </select><br>
            <label>Date Opened</label>
            <input type="date" th:field="*{dateOpened}"><br>
            <label>Date Closed</label>
            <input type="date" th:field="*{dateClosed}"><br>
            <div class="button-wrapper">
                <input class="submit-button" type="submit" name="submit" value="Submit">
                <a class="submit-button" href="/admin/subscriptions">Back</a>
            </div>
        </form>
    </div>
</div>

<!-- footer -->
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
</html>