<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head(title='Admin - Books')}"></div>
<body>

<!-- header -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- content -->
<div class="content" th:switch="${formData}">
    <!-- table -->
    <div class="table-wrapper" th:case="null">
        <h4 class="sub-header">Book Management</h4>
        <a class="submit-button secondary" th:href="@{/admin/books/add}">New Book</a>
        <a class="submit-button" href="/admin">Back</a>
        <table class="admin-table">
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th class="desktop-table">Publication Date</th>
                <th class="desktop-table mobile-table">Synopsis</th>
                <th class="desktop-table">Price</th>
                <th class="desktop-table">Page Count</th>
                <th class="desktop-table mobile-table">ISBN</th>
                <th class="desktop-table">Rating</th>
                <th class="desktop-table mobile-table">Genres</th>
            </tr>
            <tr th:each="item : ${results}">
                <td><div class="img-wrapper"><img class="table-image" th:src="@{/books/{id}/cover(id=${item.id})}" th:alt="${item.title}"></div></td>
                <td th:text="${item.title}"></td>
                <td th:if="${item.author} == null">Null</td>
                <td th:unless="${item.author} == null" th:text="${item.author.firstName} + ' ' + ${item.author.lastName}"></td>
                <td class="desktop-table" th:text="${item.publicationDate}"></td>
                <td class="desktop-table mobile-table" th:text="${item.synopsis}"></td>
                <td class="desktop-table" th:text="${item.pricePerDay}"></td>
                <td class="desktop-table" th:text="${item.pageCount}"></td>
                <td class="desktop-table mobile-table" th:text="${item.isbn}"></td>
                <td class="desktop-table" th:text="${item.rating}"></td>
                <td class="desktop-table mobile-table" th:text="${item.genres}"></td>
                <td><a class="edit-button" th:href="@{/admin/books/{id}/edit(id=${item.id})}">Edit</a></td>
                <td>
                    <form th:action="@{/admin/books/{id}/delete(id=${item.id})}" method="post">
                        <input class="delete-button" type="submit" value="X">
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <!-- form -->
    <div class="section-wrapper form" th:case="*">
        <h4 class="section-head" th:text="${formData.id} == null ? 'New Book' : 'Edit Book'"></h4>
        <form class="entity-form" th:action="${formData.id} == null ? @{add} : @{edit}" th:object="${formData}" enctype="multipart/form-data" method="post">
            <label>Title</label>
            <input type="text" th:field="*{title}"><br>
            <label>Publication Date</label>
            <input type="date" th:field="*{publicationDate}"><br>
            <label>Page Count</label>
            <input type="number" th:field="*{pageCount}"><br>
            <label>Synopsis</label>
            <textarea rows="10" cols="50" th:field="*{synopsis}"></textarea><br>
            <label>ISBN</label>
            <input type="text" th:field="*{isbn}"><br>
            <label>Price per day (CHF)</label>
            <input type="number" step="0.01" min="0" th:field="*{pricePerDay}"><br>
            <label>Rating</label>
            <input type="number" step="0.1" min="0" max="5" th:field="*{rating}"><br>
            <label>Author</label>
            <select th:field="*{author.id}">
                <option th:each="author : ${authors}" th:text="${author.firstName} + ' ' + ${author.lastName}" th:value="${author.id}"></option>
            </select><br>
            <label>Genres</label>
            <div class="genre-box">
                <span class="checkbox-g" th:each="genre : ${genres}">
                     <input type="checkbox" th:field="*{genres}" th:text="${genre.name}" th:value="${genre.id}">
                </span>
            </div>
            <br>
            <label>Cover</label>
            <div class="form-img-wrapper">
                <img th:if="${formData.cover} != null"  id="frame" th:src="@{/books/{id}/cover(id=${formData.id})}" th:alt="${formData.title}">
            </div>
            <input type="file" th:field="*{cover}" accept="image/*" onchange="preview()"><br>
            <div class="button-wrapper">
                <input class="submit-button" type="submit" name="submit" value="Submit">
                <a class="submit-button" href="/admin/books">Back</a>
            </div>
        </form>
    </div>
</div>

<!-- footer -->
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>
<script>
    function preview() {
        frame.src=URL.createObjectURL(event.target.files[0]);
        $('img.frame').load(frame.src);
    }
</script>
</html>