<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="~{fragments/head :: head(title='Reader')}"></div>
<body>
<!-- header -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- content -->
<div class="content">
    <div class="section-wrapper">
        <div class="epub" th:if="${resources} != null" th:each="resource : ${resources}">
            [(${resource})]
        </div>
    </div>
</div>

<!-- HACK: extra closing divs to fix a wierd layout bug with one of the epub files
      which embedded the footer div in the content div (incorrect tags in the xml ??) -->
</div>
</div>

<!-- footer -->
<div th:replace="~{fragments/footer.html :: footer}"></div>
</body>

</html>